
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 30px 30px;
}

p {
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  color: #250f03;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  color: #250f03;
  margin-bottom: 20px;
}


.card {
  max-width: 1200px;
  width: 100%;
  background-color: #ddcab9;
  overflow: hidden;
  border: 2px;
  border-color: #250f03;
  border-style: solid;
  padding: 30px 30px;
  
}

.card-breadth {
  
    h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: #250f03;
    margin-bottom: 20px;
    }

    .statlabel1, .statlabel2 {
    margin-bottom: 16px;
    }

    .statlabel1 span {
    display: inline-block;
    background-color: #ca763e;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px; 
    }


    .statlabel2 span {
    display: inline-block;
    background-color: #ca763e;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px; 
    }


    .description1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }

    .description2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }

    .cta-button {
    display: inline-block;
    background-color: #635044;
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px;
    border-color: #250f03;
    border-style: solid;
    box-shadow: 5px 5px 0px #250f03;
}

}

.card-depth {

    h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: #250f03;
    margin-bottom: 20px;
    }

    .statlabel1, .statlabel2 {
    margin-bottom: 16px;
    }

    .statlabel1 span {
    display: inline-block;
    background-color: #963c00;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px; 
    }


    .statlabel2 span {
    display: inline-block;
    background-color: #963c00;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px; 
    }


    .description1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }

    .description2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }
}


.card-durability {

    h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: #250f03;
    margin-bottom: 20px;
    }

    .statlabel1 {
    margin-bottom: 16px;
    }

    .statlabel1 span {
    display: inline-block;
    background-color: #6e2c00;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px; 
    }


    .description1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }

    .description2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }

    .description3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.35;
    color: #250f03;
    max-width: 580px;
    }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

/*อย่างลืมถามโค้ช ทำยังไงก็ไม่กลาง มันเอียงซ้ายตลอด*/